:root {
    --main-bg-color: darkgreen;
    --nav-inactive-color: #FFCBA4;
    --nav-active-color: #FFEB3B;
    --nav-hover-color: #F7F7F7;
    --input-invalid: red;
    --table-even-row-color: lightgreen;
    --dashboard-anim-color: lightgreen;
    --bg-color: white;
}

body {
    font: 1em sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

nav li {
    margin-right: 2em;
    list-style-type: none;
}

nav li a {
    text-decoration-line: none;
    color: var(--nav-inactive-color);
    transition: 0.5s ease-out;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4em;
    background-color: var(--main-bg-color);
}

#content {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin-left: 5vh;
    margin-right: 5vh;
}

body {
    margin: 0;
}

main {
    margin-top: 5em;
}

@media only screen and (min-width: 1200px) {
    #content {
        width: 1000px;
    }
}

@media only screen and (max-width: 1199px) {
    #content {
        width: 100%;
    }
}

.landing_img {
    height: 20vh;
}

.row-center {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.row-left {
    margin-top: 1em;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.row-around {
    justify-content: space-around;
    margin-top: 1em;
    display: flex;
    align-items: start;
    width: 100%;
}

.landing-text {
    margin-left: 10%;
    font-weight: normal;
    transition: font-size 3s ease;
}

.ft-3 {
    font-size: 3em;
}

footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 5em;
    background-color: var(--main-bg-color);
}

section,
article {
    width: 100%;
}

.small {
    font: italic 6px sans-serif;
}

.active {
    color: var(--nav-active-color);
}

.container {
    display: flex;
    align-items: start;
    justify-content: center;
}

.col {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}

#form input {
    width: 100%;
}

.expense-list {
    width: 100%;
}


th {
    text-align: start;
}

.hidden {
    visibility: hidden;
}

.ms-2 {
    margin-left: 2em;
}

table {
    border-spacing: 0;
    width: 100%;
}

input {
    transition: border 1.5s ease-out;
}

#file {
    width: 10%;
    align-self: center;
    transition: 0.5s ease-out;
}

audio {
    border-radius: 1em;
    margin-top: 1em;
    width: 100%;
}

video {
    border-radius: 1em;
    margin-top: 1em;
    width: 100%;
}

#logo {
    height: 4em;
    margin-left: 1em;
}

.logo-text {
    font-size: 2em;
    font-family: 'Pacifico', cursive;
}

.toggler {
    display: none;
}

.row-left-center {
    display: flex;
    align-items: center;
    justify-content: start;
}

/* mobile version */

@media only screen and (max-width: 700px) {
    .toggler {
        display: block;
        justify-self: first baseline;
        width: 5em;
    }

    nav {
        flex-direction: column;
        align-items: start;
        height: auto;
    }

    nav>* {
        margin-left: 2em;
    }

    nav ul {
        margin-top: 1em;
        flex-direction: column;
        align-items: start;
        display: none;
        width: 80%;
    }

    nav ul li {
        margin-top: 0.25em;
        margin-right: 0;
    }

    .row-around {
        flex-direction: column;
    }

    .row-around>div {
        margin-left: 0;
    }

}

.visible {
    display: block;
    margin-bottom: 1em;
}

/* advanced pseudo classes and combinators */

nav a:not(.active):hover {
    color: var(--nav-hover-color);
}

input:user-invalid {
    border: 3px solid var(--input-invalid);

}

main+footer {
    margin-top: 3em;
}

tr:nth-child(even) td {
    background-color: var(--table-even-row-color);
}

.dashboard-line>div> :is(h3, p) {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* table round corners */

tbody tr :is(td, th):first-child {
    padding-left: 0.5em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

tbody tr :is(td, th):last-child {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

th {
    background-color: var(--main-bg-color);
    color: white;
}

/* inputs, buttons, select */

input[type=submit], input[type=file]::file-selector-button, select, button {
    background-color: aliceblue;
    border-radius: 1em;
}

input[type=submit]:hover, input[type=file]::file-selector-button:hover, select:hover, button:hover {
    background-color: rgb(208, 232, 232);
}


/* animation */

.row-around>div:hover {
    animation: increase 1s ease-out forwards;
    border-radius: 0.5em;
}

@keyframes increase {
    0% {
        background-color: var(--bg-color);
        padding: 0%;
    }

    100% {
        background-color: var(--dashboard-anim-color);
        padding: 5%;
    }
}

/* transformation and vendor prefixes */

.transform {
    -webkit-transform-origin: bottom center;
    -webkit-transform: rotateY(35deg) skewX(10deg);

    -ms-transform-origin: bottom center;
    -ms-transform: rotateY(35deg) skewX(10deg);

    -moz-transform-origin: bottom center;
    -moz-transform: rotateY(35deg) skewX(10deg);

    transform-origin: bottom center;
    transform: rotateY(35deg) skewX(10deg);
}

#file:hover {
    -webkit-transform: scale(1.25);

    -ms-transform: scale(1.25);

    -moz-transform: scale(1.25);

    transform: scale(1.25);
}